:root {
    --primary-color: #2197b4;
}
body {
    background-color: var(--primary-color);

}

.container {
    display: flex;
    justify-content: center;   
    align-items: center;
    height: 100vh;
}